Collecting Info on A Specific Teams Games Over a Specific Period
===

This vignette shows you how to collect gameids for a specific team during a specific time and aggregate corresponding box score information. 

Specifically, it will walk you through collecting information on all Phoenix Suns games that took place during December and January of the 2006-07 season.

In [68]:
import numpy as np
import goldsberry
import pandas as pd
from datetime import datetime
pd.set_option("display.max_columns",50) # Change Pandas Display Options
goldsberry.__version__

'1.0.1'

In [69]:
gameids = goldsberry.GameIDs()
gameids2015 = pd.DataFrame(gameids.game_list())
gameids2015.head(n=5)[["TEAM_NAME","MATCHUP","PTS","PLUS_MINUS"]]
# gameids2015.columns.values

# list(gameids2015)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TEAM_NAME</th>
      <th>MATCHUP</th>
      <th>PTS</th>
      <th>PLUS_MINUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Minnesota Timberwolves</td>
      <td>MIN vs. NOP</td>
      <td>144</td>
      <td>35</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Orlando Magic</td>
      <td>ORL vs. BKN</td>
      <td>139</td>
      <td>34</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Detroit Pistons</td>
      <td>DET @ CHI</td>
      <td>147</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Golden State Warriors</td>
      <td>GSW @ ORL</td>
      <td>130</td>
      <td>16</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Sacramento Kings</td>
      <td>SAC vs. PHX</td>
      <td>142</td>
      <td>23</td>
    </tr>
  </tbody>
</table>
</div>

Like the PlayerList() class, the GameIDs() class defaults to the current season. If we want the 2006-07 season, we need to identify and change the proper parameters. We can see the available parameters to set by printing the `api_params` attribute.

In [70]:
gameids.api_params

{'Direction': 'DESC',
 'LeagueID': '00',
 'PlayerOrTeam': 'T',
 'Season': '2015-16',
 'SeasonType': 'Regular Season',
 'Sorter': 'FGM'}

From there, we can see we should set the `Season` value to `2006-07`. Once we set the parameter, we need to get new data and then save the new data as a data frame to a new object.

In [71]:
gameids.get_new_data(Season='2016-17',PlayerOrTeam = "T")
gameids._set_api_parameters(Sorter = "GAME_DATE")
gameids2017 = pd.DataFrame(gameids.game_list())
gameids2017.head()["GAME_DATE"]

0    2017-01-28
1    2017-03-04
2    2017-02-10
3    2017-01-08
4    2016-12-10
Name: GAME_DATE, dtype: object

A quick filter for team names that contain 'Suns' returns all games for the Suns for the 2006-07 season

In [72]:
suns_logs = gameids2017.ix[gameids2017['TEAM_NAME'].str.contains('Suns')]
suns_logs.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AST</th>
      <th>BLK</th>
      <th>DREB</th>
      <th>FG3A</th>
      <th>FG3M</th>
      <th>FG3_PCT</th>
      <th>FGA</th>
      <th>FGM</th>
      <th>FG_PCT</th>
      <th>FTA</th>
      <th>FTM</th>
      <th>FT_PCT</th>
      <th>GAME_DATE</th>
      <th>GAME_ID</th>
      <th>MATCHUP</th>
      <th>MIN</th>
      <th>OREB</th>
      <th>PF</th>
      <th>PLUS_MINUS</th>
      <th>PTS</th>
      <th>REB</th>
      <th>SEASON_ID</th>
      <th>STL</th>
      <th>TEAM_ABBREVIATION</th>
      <th>TEAM_ID</th>
      <th>TEAM_NAME</th>
      <th>TOV</th>
      <th>VIDEO_AVAILABLE</th>
      <th>WL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>54</th>
      <td>24</td>
      <td>2</td>
      <td>30</td>
      <td>23</td>
      <td>7</td>
      <td>0.304</td>
      <td>92</td>
      <td>49</td>
      <td>0.533</td>
      <td>24</td>
      <td>13</td>
      <td>0.542</td>
      <td>2017-03-30</td>
      <td>0021601124</td>
      <td>PHX vs. LAC</td>
      <td>240</td>
      <td>13</td>
      <td>27</td>
      <td>-6</td>
      <td>118</td>
      <td>43</td>
      <td>22016</td>
      <td>6</td>
      <td>PHX</td>
      <td>1610612756</td>
      <td>Phoenix Suns</td>
      <td>14</td>
      <td>1</td>
      <td>L</td>
    </tr>
    <tr>
      <th>65</th>
      <td>27</td>
      <td>6</td>
      <td>35</td>
      <td>24</td>
      <td>8</td>
      <td>0.333</td>
      <td>93</td>
      <td>49</td>
      <td>0.527</td>
      <td>25</td>
      <td>15</td>
      <td>0.600</td>
      <td>2017-02-24</td>
      <td>0021600859</td>
      <td>PHX @ CHI</td>
      <td>265</td>
      <td>8</td>
      <td>23</td>
      <td>-7</td>
      <td>121</td>
      <td>43</td>
      <td>22016</td>
      <td>8</td>
      <td>PHX</td>
      <td>1610612756</td>
      <td>Phoenix Suns</td>
      <td>19</td>
      <td>1</td>
      <td>L</td>
    </tr>
    <tr>
      <th>67</th>
      <td>32</td>
      <td>10</td>
      <td>47</td>
      <td>24</td>
      <td>10</td>
      <td>0.417</td>
      <td>88</td>
      <td>49</td>
      <td>0.557</td>
      <td>34</td>
      <td>29</td>
      <td>0.853</td>
      <td>2017-02-15</td>
      <td>0021600844</td>
      <td>PHX vs. LAL</td>
      <td>240</td>
      <td>12</td>
      <td>20</td>
      <td>36</td>
      <td>137</td>
      <td>59</td>
      <td>22016</td>
      <td>7</td>
      <td>PHX</td>
      <td>1610612756</td>
      <td>Phoenix Suns</td>
      <td>15</td>
      <td>1</td>
      <td>W</td>
    </tr>
    <tr>
      <th>90</th>
      <td>25</td>
      <td>8</td>
      <td>30</td>
      <td>19</td>
      <td>8</td>
      <td>0.421</td>
      <td>95</td>
      <td>48</td>
      <td>0.505</td>
      <td>13</td>
      <td>11</td>
      <td>0.846</td>
      <td>2017-02-10</td>
      <td>0021600807</td>
      <td>PHX vs. CHI</td>
      <td>240</td>
      <td>13</td>
      <td>18</td>
      <td>18</td>
      <td>115</td>
      <td>43</td>
      <td>22016</td>
      <td>4</td>
      <td>PHX</td>
      <td>1610612756</td>
      <td>Phoenix Suns</td>
      <td>9</td>
      <td>1</td>
      <td>W</td>
    </tr>
    <tr>
      <th>98</th>
      <td>21</td>
      <td>2</td>
      <td>20</td>
      <td>24</td>
      <td>10</td>
      <td>0.417</td>
      <td>89</td>
      <td>48</td>
      <td>0.539</td>
      <td>17</td>
      <td>14</td>
      <td>0.824</td>
      <td>2017-01-26</td>
      <td>0021600692</td>
      <td>PHX @ DEN</td>
      <td>240</td>
      <td>8</td>
      <td>26</td>
      <td>-7</td>
      <td>120</td>
      <td>28</td>
      <td>22016</td>
      <td>8</td>
      <td>PHX</td>
      <td>1610612756</td>
      <td>Phoenix Suns</td>
      <td>11</td>
      <td>1</td>
      <td>L</td>
    </tr>
  </tbody>
</table>
</div>

We can verify all of the games are there by checking the shape of the data frame.

In [37]:
suns_logs.shape

(82, 29)

In [38]:
gameids2017.columns.values

array([u'AST', u'BLK', u'DREB', u'FG3A', u'FG3M', u'FG3_PCT', u'FGA',
       u'FGM', u'FG_PCT', u'FTA', u'FTM', u'FT_PCT', u'GAME_DATE',
       u'GAME_ID', u'MATCHUP', u'MIN', u'OREB', u'PF', u'PLUS_MINUS',
       u'PTS', u'REB', u'SEASON_ID', u'STL', u'TEAM_ABBREVIATION',
       u'TEAM_ID', u'TEAM_NAME', u'TOV', u'VIDEO_AVAILABLE', u'WL'], dtype=object)

In [202]:
# game_team_2017 = gameids2017.groupby("TEAM_NAME")
# team_2017 = game_team_2017.apply(lambda x: x.sort_values('GAME_DATE'))

In [203]:
# num_team = 30; num_games = 82
# matrix = []
# names = []
# for i in range(0,num_team):
#     matrix.append(team_2017.iloc[0+num_games*i:num_games*(i+1)].to_dict('records'))
#     names.append(team_2017.iloc[num_games*i]["TEAM_NAME"])

In [204]:
# new = pd.DataFrame(matrix,index = names,columns = range(1,num_games+1))

In [205]:
def To_matrix(game_df):
    game_group = game_df.sort_values("TEAM_NAME").groupby("TEAM_NAME")
    game_sort = game_group.apply(lambda x: x.sort_values('GAME_DATE'))
    num_team = 30; num_games = 82
    matrix = []
    names = []
    for i in range(0,num_team):
        matrix.append(game_sort.iloc[0+num_games*i:num_games*(i+1)].to_dict('records'))
        names.append(game_sort.iloc[num_games*i]["TEAM_NAME"])
    new_game_df = pd.DataFrame(matrix,index = names,columns = range(1,num_games+1))
    return new_game_df

In [206]:
game_2014 = goldsberry.GameIDs(Season = "2014-15")
new_game_2014 = To_matrix(pd.DataFrame(game_2014.game_list()))

In [207]:
new_game_2014.head().loc["Atlanta Hawks",1]

{u'AST': 26,
 u'BLK': 8,
 u'DREB': 32,
 u'FG3A': 22,
 u'FG3M': 13,
 u'FG3_PCT': 0.591,
 u'FGA': 80,
 u'FGM': 40,
 u'FG_PCT': 0.5,
 u'FTA': 17,
 u'FTM': 9,
 u'FT_PCT': 0.529,
 u'GAME_DATE': u'2014-10-29',
 u'GAME_ID': u'0021400008',
 u'MATCHUP': u'ATL @ TOR',
 u'MIN': 240,
 u'OREB': 10,
 u'PF': 24,
 u'PLUS_MINUS': -7,
 u'PTS': 102,
 u'REB': 42,
 u'SEASON_ID': u'22014',
 u'STL': 6,
 u'TEAM_ABBREVIATION': u'ATL',
 u'TEAM_ID': 1610612737,
 u'TEAM_NAME': u'Atlanta Hawks',
 u'TOV': 19,
 u'VIDEO_AVAILABLE': 1,
 u'WL': u'L'}